html {
  font-size: 10px;
  background-color: #EFEFEF;
}

* {
  margin: 0;
  padding: 0; 
  border: 0;
}

body {
  font-family: "Nova Slim", sans-serif;
  color: #FBFAF8;
}
/*Header section*/

header {
  background-color: #AEB8C0;
  height: 167px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.2rem;
  font-size: 1.4rem;
  color: #FBFAF8;
}

.profile-icon {
  width: 2.5%;
  padding-right: 0.3rem;
}

.selector-arrow{
  width: .8%;
  padding: 0 2.4rem 0 0.8rem;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 3.3rem;
}

.ufp-logo {
  width: 7%;
}

.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style-type: none;
  font-size: 1.86rem;
}

.entry-icon,
.files-icon,
.p-log-icon {
  width: 15%;
  height: 3.5rem;
  padding-right: 1.5rem;
}

/*Entry Cards*/
main {
  color: black;
}

.card {
  background-color: #FBFAF8;
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 3.5rem 1rem 1rem 1rem;
  box-shadow: 2px 0 4px #a6a6a6
}

.top-line {
  background-image: url("../img/captain_picard.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #FBFAF8;
  display: flex;
  justify-content: space-between;
  height: 33vh;
}

.lg-num {
  font-size: 2rem;
}

h4 {
  font-size: 0.8rem;
}

.views-div {
  display: flex;
  flex-direction: column;
}

.tng-badge {
  width: 17%;
  fill: white !important;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 57vh;
  margin: 0 1.4rem 0 1.4rem;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: #8B8B8B;
  background-color: #EFEFEF;
  line-height: 1.5rem;
  padding: .5rem 1.5rem .5rem .5rem;
}







