html {
  font-size: 10px;
  background-color: #EFEFEF;
}

* {
  margin: 0;
  padding: 0; 
  border: 0;
}

body {
  font-family: "Nova Slim", sans-serif;
  color: #FBFAF8;
}

/*Header section*/
header {
  background-color: #AEB8C0;
  display: flex;
  flex-direction: column;
  height: 167px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.2rem;
  font-size: 1.5rem;
  color: #FBFAF8;
}

.crew-login,
.fa-caret-down {
  color: #2B53A7;
}

.fa {
  padding: 0 .5rem 0 .5rem;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 4rem 2.5rem 3.3rem 0;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 3.6rem;
}

.ship-icon {
  width: 3.6rem;
  padding-left: .5rem;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  font-size: 1.86rem;
  padding-right: 1.5rem;
}

.nav-bar p {
  color: #8B8B8B;
}

#entry-txt-style {
  color: #FFFFFF;
}

.fa-database,
.fa-book {
  color: #2B53A7;
}

/*Entry Cards*/
main {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2%;
}

.h2-style {
  font-size: 2.5rem;
}

.card {
  background-color: #FBFAF8;
  width: 18%;
  height: 36rem;
  display: flex;
  flex-direction: column;
/*  margin: 3.5rem 1rem 1rem 1rem;*/
  box-shadow: 2px 0 4px #a6a6a6;
}

.top-line {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  color: #FBFAF8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 15rem;
}

.fa-hand-spock-o {
  margin: 1rem 0 0 1.5rem;
}

h4 {
  font-size: 0.8rem;
}

.views-div {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 0 0;
}

.lg-num-1 {
  font-size: 2rem;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  height: 24rem;
  margin: 0 1.4rem 0 1.4rem;
}

.crew-name {
  margin-top: 1.4rem;
  margin-bottom: .3rem;
}

.submit-date {
  margin-bottom: 1.7rem;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: #8B8B8B;
  background-color: #EFEFEF;
  line-height: 1.5rem;
  padding: .5rem 1.5rem .5rem .5rem;
  margin-bottom: 1.7rem;
}

.rank-title-header {
  margin-bottom: .5rem;
}

.rank-title {
  margin-bottom: 2rem;
}

.attch {
  margin-bottom: .5rem;
}

.lg-num-2 {
  font-size: 2rem;
  color: #D6A444;
}

/*Photos*/

#card-1 {
  background-image: url("../img/captain_picard.png");
}

#card-2 {
  background-image: url("../img/riker.png");
}

#card-3 {
  background-image: url("../img/beverly_crusher.png");
}

#card-4 {
  background-image: url("../img/data.png");
}

#card-5 {
  background-image: url("../img/deanna_troi.jpg");
}

#card-6 {
  background-image: url("../img/la_forge.jpg");
}

#card-7 {
  background-image: url("../img/worf.jpg");
}

#card-8 {
  background-image: url("../img/wesley_crusher.jpg");
}






